

.App{
  margin: 0 auto;
  height: 70%;
  width: 80%;
 
}
.App-header{
  margin: 0 auto;
  background-color: blue;
  height: 90px; 
  border-radius: 10px 10px 0px 0px;
}

h1{
  text-align: center;
  color: white;
  line-height: 80px;
 
}
form{
  text-align: center;
  padding: 40px;
  
}